<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Data Binding</h3>
    <p style="color: red" th:text="${message}"></p>
<form action="/lab3/student/save" method="post" th:object="${sv}">
    <input th:field="*{email}" placeholder="Email Address">
    <i style="color: red" th:errors="*{email}"></i>
    <br>
    <input th:field="*{fullname}" placeholder="Fullname">
    <i style="color: red" th:errors="*{fullname}"></i>
    <br>
    <input th:field="*{mark}" placeholder="Marks">
    <i style="color: red" th:errors="*{mark}"></i>
    <br>
    <input th:field="*{gender}" th:value="true" type="radio">Male
    <input th:field="*{gender}" th:value="false" type="radio">Female <br>
    <i style="color: red" th:errors="*{gender}"></i>
    <br>
    <select th:field="*{country}">
        <option value="">Nationality</option>
        <option value="VN">Vietnam</option>
        <option value="US">United States</option>
    </select>
    <i style="color: red" th:errors="*{country}"></i>
<hr>
    <button >Save</button>
</form>
</body>
</html>